{% extends layout.html %}

{% block content %}

<div class='flex mb-4 flex-row items-center gap-4'>
  <div><h1 class='text-xl font-bold'>Contacts</h1></div>
  <div><a class='link link' href="./contacts/new">New Contact</a></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% foreach($contacts as $contact): %}
    <tr>
      <td scope="row">{{$contact["id"]}}</td>
      <td style="width: 50%">{{$contact["name"]}}</td>
      <td style="width: 50%">{{$contact["phone"]}}</>
      <td>
        <a href="./contacts/{{ $contact['id'] }}">
          View
        </a>
      </td>
    </tr>
    {% endforeach; %} {% if (0 === count($contacts)): %}
    <tr>
      <td colspan="4">No contacts found</td>
    </tr>
    {% endif; %}
  </tbody>
</table>
{% endblock %}
