<!doctype html>
<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <base href="{{{ ROOT_PATH }}}" />
    <title>{% yield title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="assets/css/main.css" />

    <script src="./assets/js/htmx.min.js"></script>
    <script src="./assets/js/_hyperscript.min.js"></script>
  </head>
  <body hx-boost="true">
    {% include nav.html %}
    <main
      class="flex flex-row max-w-full gap-10 mx-auto px-8 w-[1400px] pt-8"
    >
      {% include sidenav.html %}
      <div class="w-full" role="document">{% yield content %}</div>
    </main>
  </body>
</html>
