<!-- <aside class="min-w-[200px]"> -->
<!--   <nav> -->
<!--     <details> -->
<!--       <summary>Getting Started</summary> -->
<!--     </details> -->
<!--     <details open="true"> -->
<!--       <summary>Layout</summary> -->
<!--       <ul> -->
<!--         <li> -->
<!--           <a -->
<!--             href="./containers.html" -->
<!--             id="containers-link" -->
<!--             class="secondary" -->
<!--             aria-current="page" -->
<!--             >Containers</a -->
<!--           > -->
<!--         </li> -->
<!--         <li><a href="./grid.html" id="grid-link" class="secondary">Grid</a></li> -->
<!--         <li> -->
<!--           <a href="./scroller.html" id="scroller-link" class="secondary" -->
<!--             >Horizontal scroller</a -->
<!--           > -->
<!--         </li> -->
<!--       </ul> -->
<!--     </details> -->
<!--   </nav> -->
<!-- </aside> -->
<aside class="w-[200px]">
  <nav class="flex flex-col">
    <div class="font-light uppercase text-xs text-gray-500 mb-2">Dashboard</div>
    <div class="btn btn-sm btn-ghost justify-start">Reports</div>
    <div class="btn btn-sm btn-ghost justify-start">Contacts</div>
    <div class="font-light uppercase text-xs text-gray-500 mb-2 mt-4">Account</div>
    <div class="btn btn-sm btn-ghost justify-start">Settings</div>
    <div class="btn btn-sm btn-ghost justify-start">Logout</div>
  </nav>
</aside>
